<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.BoardDAO">
	<select id="getLike" resultType="int" parameterType="int">
        select likeNum from boardCom where boardNum=#{boardNum}
    </select>

	<update id="like" parameterType="int">
		update boardCom set likeNum=likeNum+1 where boardNum=#{boardNum} 
	</update>
	
	<update id="dislike" parameterType="int">
		update boardCom set likeNum=likeNum-1 where boardNum=#{boardNum} 
	</update>
	
	<select id="selectAllComm" resultType="com.smhrd.domain.Comm" parameterType="int">
        select * from comms where boardNum=#{boardNum} order by commentNum desc
    </select>
    
    <insert id="addComment" parameterType="com.smhrd.domain.Comm">
        insert into comms values (commNum_seq.nextval, #{boardNum}, #{com})
    </insert>
    
    <select id="getCommNum" resultType="int">
        select MAX(commentNum) from comms 
    </select>
     
    <delete id="deleteComment" parameterType="int">
    	delete from comms where commentNum=#{commentNum}
    </delete>
</mapper>